In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

In [57]:
# reading the csv file and loading the data into the variable data
df = pd.read_csv('C:/Users/keert/happinessSurvey2020.csv')

# storing all the independent variables/features in the variable X
X = data.drop('Y', axis=1)

# storing the target variable in the variable Y
y = data['Y']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=217 )
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
y_pred = dt_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Model Accuracy: ", accuracy)

Model Accuracy:  0.8461538461538461

In [72]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.75      0.82        12
           1       0.81      0.93      0.87        14

    accuracy                           0.85        26
   macro avg       0.86      0.84      0.84        26
weighted avg       0.85      0.85      0.84        26

In [63]:
df.corr()

           Y        X1        X2        X3        X4        X5        X6
Y   1.000000  0.280160 -0.024274  0.150838  0.064415  0.224522  0.167669
X1  0.280160  1.000000  0.059797  0.283358  0.087541  0.432772  0.411873
X2 -0.024274  0.059797  1.000000  0.184129  0.114838  0.039996 -0.062205
X3  0.150838  0.283358  0.184129  1.000000  0.302618  0.358397  0.203750
X4  0.064415  0.087541  0.114838  0.302618  1.000000  0.293115  0.215888
X5  0.224522  0.432772  0.039996  0.358397  0.293115  1.000000  0.320195
X6  0.167669  0.411873 -0.062205  0.203750  0.215888  0.320195  1.000000

In [55]:
data.corr()

           Y        X1        X5
Y   1.000000  0.280160  0.224522
X1  0.280160  1.000000  0.432772
X5  0.224522  0.432772  1.000000